page-tabs {
    .fabColor {
        background-color: #a7a9ac;
    }
    
    .fabColorActive {
        background-color: #4d4477;
    }
  
   
}

.fab{
    background-color: #3ab63a !important;
    width: 74px;
    height: 75px;
}
ion-fab{
    bottom: 11px !important;
}

