<ion-header>

  <ion-navbar color="primary">
    <ion-title>Profile</ion-title>
    <ion-buttons start *ngIf="isMarketPlace">
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="ios-close-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="isLogin">
    <loading-spinner [hidden]="!isLoading"></loading-spinner>
    <ion-grid class="card-grid" *ngFor="let type of Types" [hidden]="isLoading">
      <ion-row [ngClass]="getHeaderClass(type.typeName)">
        <ion-col col-10>
          <ion-row>
            <ion-col col-2>
              <img [src]="getTypeImg(type.typeName)" class="card-icon">
            </ion-col>
            <ion-col col-10 align-self-center>
              <div class="cat-txt">{{type.typeName}}</div>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-2>
          <button ion-button class="add-btn" icon-only (click)="addItem(type)">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

      <ion-row [ngClass]="getSecondHeaderClass(type.typeName)">
        <ion-col col-7>
          <div class="type">Type</div>
        </ion-col>
        <ion-col col-2>
          <div class="lost">Lost</div>
        </ion-col>
        <ion-col col-2>
          <div class="sell">Sell</div>
        </ion-col>
        <ion-col col-1></ion-col>
      </ion-row>

      <ion-row class="items-row">
        <ion-col col-12 *ngFor="let item of Items" [hidden]="type.typeName != item.itemType">
          <ion-row>
            <ion-col col-7 align-self-center (click)="openItem(item)">
              <div class="item-txt">
                <span>{{item.deviceBrand}} - {{item.deviceModel}}</span>
              </div>
            </ion-col>
            <ion-col col-2 class="no-padding-left no-padding-right">
              <ion-item class="more-marign-left">
                <ion-toggle item-start [checked]="item.status == 'Lost'" (ionChange)="changeItemLostStatus($event , item)"></ion-toggle>
              </ion-item>
            </ion-col>
            <ion-col col-2 class="no-padding-left">
              <ion-item>
                <ion-toggle item-start></ion-toggle>
              </ion-item>
            </ion-col>

            <ion-col col-1 class="no-padding-left" align-self-center>
              <ion-icon name="custom-trash" class="trash-icon" (click)="ConfirmDeleteItem(item , index)"></ion-icon>
            </ion-col>

          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

  <ion-row *ngIf="!isLogin">
    <ion-col col-12>
      <h3 class="login-txt">You must login first</h3>
    </ion-col>
    <ion-col col-12>
      <button ion-button (click)="login()" class="login-btn" round color="primary">Login</button>
    </ion-col>
  </ion-row>

</ion-content>