<ion-header>

  <ion-navbar color="primary">
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!-- Cars -->
  <ion-grid class="card-grid">
    <ion-row class="card-header-wrapper">
      <ion-col col-10>
        <ion-row>
          <ion-col col-2>
            <img src="assets/imgs/sports-car.svg" class="card-icon">
          </ion-col>
          <ion-col col-10 align-self-center>
            <div class="cat-txt">Car</div>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-2>
        <button ion-button class="add-btn" icon-only (click)="addItem('car')">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-row class="card-header-second">
      <ion-col col-6>
        <div class="type">Type</div>
      </ion-col>
      <ion-col col-3>
        <div class="lost">Lost</div>
      </ion-col>
      <ion-col col-3>
        <div class="sell">Sell</div>
      </ion-col>
    </ion-row>

    <ion-row class="items-row">
      <ion-col col-12 *ngFor="let id of Cars">
        <ion-row>
          <ion-col col-6 align-self-center>
            <div class="item-txt">Kia</div>
          </ion-col>
          <ion-col col-3 class="no-padding-left">
            <ion-toggle></ion-toggle>
          </ion-col>
          <ion-col col-3 class="no-padding-left">
            <ion-toggle></ion-toggle>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- Mobiles -->
  <ion-grid class="card-grid">
    <ion-row class="card-header-wrapper1">
      <ion-col col-10>
        <ion-row>
          <ion-col col-2>
            <img src="assets/imgs/smartphone.svg" class="card-icon">
          </ion-col>
          <ion-col col-10 align-self-center>
            <div class="cat-txt">Mobiles</div>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-2>
        <button ion-button class="add-btn" icon-only (click)="addItem('mobile')">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-row class="card-header-second1">
      <ion-col col-6>
        <div class="type">Type</div>
      </ion-col>
      <ion-col col-3>
        <div class="lost">Lost</div>
      </ion-col>
      <ion-col col-3>
        <div class="sell">Sell</div>
      </ion-col>
    </ion-row>

    <ion-row class="items-row">
      <ion-col col-12 *ngFor="let id of Mobiles">
        <ion-row>
          <ion-col col-6 align-self-center>
            <div class="item-txt">Huawii</div>
          </ion-col>
          <ion-col col-3 class="no-padding-left">
            <ion-toggle></ion-toggle>
          </ion-col>
          <ion-col col-3 class="no-padding-left">
            <ion-toggle></ion-toggle>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Identification Card -->
  <ion-grid class="card-grid">
    <ion-row class="card-header-wrapper2">
      <ion-col col-10>
        <ion-row>
          <ion-col col-2>
            <img src="assets/imgs/id-card.svg" class="card-icon">
          </ion-col>
          <ion-col col-10 align-self-center>
            <div class="cat-txt">Personal Id</div>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-2>
        <button ion-button class="add-btn" icon-only (click)="addItem('id')">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-row class="card-header-second2">
      <ion-col col-6>
        <div class="type">Type</div>
      </ion-col>
      <ion-col col-3>
        <div class="lost">Lost</div>
      </ion-col>
      <ion-col col-3>
        <div class="sell">Sell</div>
      </ion-col>
    </ion-row>

    <ion-row class="items-row">
      <ion-col col-12 *ngFor="let id of IDS">
        <ion-row>
          <ion-col col-6 align-self-center>
            <div class="item-txt">Credit Card</div>
          </ion-col>
          <ion-col col-3 class="no-padding-left">
            <ion-toggle></ion-toggle>
          </ion-col>
          <ion-col col-3 class="no-padding-left">
            <ion-toggle></ion-toggle>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>