item-card {
   .my-img{
    width: 6%;
   }
   .chat-count{
    vertical-align: top;
   }
   .item-type{
    color: #244b91;
    margin-bottom: 5px;
   }
   .item-img{
    height: 85px;
   }
   .item-date{
    color: gray;
    margin-bottom: 3px;
   }
   .item-time{
    color: gray;
    margin-bottom: 10px; 
   }
   .item-wrapper{
    background: white;
    margin-bottom: 8px;
   }
   .item-price{
    font-size: 20px;
    margin-bottom: 5px;
    color: black;
   }
}
