page-home {
    .list{
        width: 80%;
        margin: auto;
        .item{
            background: transparent;
            border-bottom: 1px solid gray;
            margin-bottom: 20px;
        }
       
    }

    .list-ios > .item-block:first-child{
        border-top:0 !important;
    }
    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
        border-bottom: 0.55px solid gray;
    }

    .item-ios.item-block .item-inner{
        border-bottom: 0.55px solid gray;
    }
    .list-ios > .item-block:last-child,  .list-ios > .item-wrapper:last-child .item-block{
        border-bottom: 0 !important;
    }
    .item-ios.item-block .item-inner{
        border-bottom: 0.55px solid gray !important;
    }
    .list .item{
        border-bottom: 0;
    }

    .scroll-content{
        background-image: url(../assets/imgs/bg.png);
        background-size: 100% 100%;
    }

    .text-input-ios{
        text-align: center;
    }

    .activeBorder{
        border-bottom: 3px solid #00a8f2;
    }

   .text-input{
    color: white;
    font-size: 18px;
    }

    .slogin{
        text-align: center;
        color: white;
        width: 100%;
        margin: auto;
        line-height: 1.4;
        font-size: 19px;
        margin-top: 35px;
        margin-bottom: 20px;
    }

    .imgs-wrapper{
        text-align: center;
        margin-bottom: 1rem;
        .home-img{
            width: 15%;
            margin: auto;
            margin-right: 20px;
        }
        .home-img:last-child{
            width: 15%;
            margin: auto;
            margin-right: 0;
        }
    }

    

    .scan-txt{
        text-align: center;
        margin-top: 12px;
        color: white;
        font-size: 14px;
    }
    .check-btn{
        width: 75%;
        margin: auto;
    }
    .scan-btn{
        width: 75%;
        margin: auto;
        margin-top: 10px;
    }
    .ion-ios-barcode-outline:before{
        margin-right: 6px;
    }
}
