ion-icon {
    &[class*="custom-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 1em;
      height: 1em;
    }
  
    &[class*="custom-search"] {
      mask-image: url(../assets/imgs/search.svg);
    }

    &[class*="custom-profile"] {
        mask-image: url(../assets/imgs/profile.svg);
    }

    &[class*="custom-phone"] {
        mask-image: url(../assets/imgs/call-answer.svg);
    }


    &[class*="custom-market"] {
        mask-image: url(../assets/imgs/market.svg);
    }

    &[class*="custom-trash"] {
        mask-image: url(../assets/imgs/trash.svg);
    }

  }


.toolbar .toolbar-title{
   color: white !important;
}

.ion-md-menu:before{
    color: white;
}
.content-ios{
    background-color: #efefef;
}

ion-app.ios [padding] .scroll-content{
    padding: 8px;
}

.no-padding-left{
    padding-left: 0;
}

.no-padding-right{
    padding-right: 0; 
}

.no-padding-bottom{
    padding-bottom: 0; 
}

.no-padding-top{
    padding-top: 0; 
}