<ion-header>

  <ion-navbar color="primary">
    <ion-title>Add {{getCat()}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label>Brand</ion-label>
      <ion-select [(ngModel)]="data.brand">
        <ion-option value="sony">Sony</ion-option>
        <ion-option value="samsung">Samsung</ion-option>
        <ion-option value="iphone">iphone</ion-option>
        <ion-option value="opp">Opp</ion-option>
        <ion-option value="huawei">Huawei</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="cat == 'mobile'">
      <ion-label>IEMI Number</ion-label>
      <ion-input [(ngModel)]="data.imei" type="text"></ion-input>
    </ion-item>

    <ion-item *ngIf="cat == 'car'">
      <ion-label>Serial Number</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item *ngIf="cat == 'car'">
      <ion-label>Motor Number</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item *ngIf="cat == 'car'">
      <ion-label>Plate Number</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>{{getCat()}} status</ion-label>
      <ion-select [(ngModel)]="data.status">
        <ion-option value="Lost">Lost</ion-option>
        <ion-option value="not_lost">not lost</ion-option>
      </ion-select>
    </ion-item>


    <ion-row>
      <ion-col col-12>
        <div class="reward-txt no-padding-left">Financial reward in case of theft</div>
      </ion-col>
      <ion-col col-4 class="no-padding-left no-padding-bottom">
        <ion-item>
          <ion-input [(ngModel)]="data.award" type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-8 class="no-padding-right no-padding-bottom">
        <ion-item>
          <ion-label>Select currency</ion-label>
          <ion-select [(ngModel)]="data.sign">
            <ion-option value="nes">Dollar</ion-option>
            <ion-option value="n64">LE</ion-option>
            <ion-option value="ps">GBA</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-item>
      <ion-label>Place of theft</ion-label>
      <ion-input [(ngModel)]="data.lostPlace" type="text"></ion-input>
    </ion-item>


    <!-- <ion-item>
      <ion-label>Date of theft</ion-label>
      <ion-select>
        <ion-option value="nes">Lost</ion-option>
        <ion-option value="n64">Nintendo64</ion-option>
        <ion-option value="ps">PlayStation</ion-option>
      </ion-select>
    </ion-item> -->

  </ion-list>
  <button ion-button block margin-top color="primary" (click)="addItem()">Add</button>
</ion-content>